<h1 class="text-center">Idea Factory Show Page</h1>
<div class="container ">
    <h2><%= @idea_factory.title %></h2>
    <p>
        <span><%= @idea_factory.description %></span>
    
    </p>
    <p>
        <div style="display: flex; justify-content: space-between">
            <span>
                <small><u>By: <%= @idea_factory.user.full_name %></u></small>
                <span>
                    <small style="display: inline;">
                    
                        <% if @like.present? %>
                            
                            <%= button_to "Unlike", like_path(@like), method: :delete, form: {style: 'display:inline-block;'} %>
                        <% else %>
                          
                            <%= button_to 'Like', idea_factory_likes_path(@idea_factory.id), method: :post, form: {style: 'display:inline-block;'} %>
                        <% end %>
                    </small>
                </span>                
            </span>
            <span>
                <small>Members: <%= @member_count %></small> |
                <small>Likes: <%= @like_count %></small>
            </span>
        </div>
        <% if can? :crud, @idea_factory %>
            <div class="d-flex">
                <span><%= button_to 'Edit', edit_idea_factory_path(@idea_factory), method: :get %></span>
                <span><%= button_to 'Delete', idea_factory_likes_path(@idea_factory), method: :delete, data: { confirm: "Are you sure?"} %></span>
            </div>    
        <% end %>  

 
    </p>

    <h4>Reviews</h4>
    <ul>
        <% @reviews.each do |review| %>
            <li>
                <%= review.body%>
                <small>Review <%= time_ago_in_words(review.created_at) %> ago by <label>Created by: <u> <%= review.user.full_name%></u> </label>
                </small>
                <% if can? :crud, review %>
                    <%= button_to "Delete", idea_factory_review_path(@idea_factory.id, review.id), method: :delete %>
                <% end %>
            </li>
        <% end %>
    </ul>    

    <hr>

    <h4>Write your comment</h4>
    <% if @review.errors.any? %>
        <ul>
            <% @review.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
            <% end %>
        </ul>
    <% end %>

    <%= form_with(model:[@idea_factory, @review]) do |f|%>

        <div>
            <%= f.label :body%>
            <br>
            <%= f.text_area :body, cols:100, rows: 5  %>
        </div>

        <%= f.submit "Review" %>
    <% end %>

</div>